$chatbot-color-blue-dark-100: #47525E;
$chatbot-color-blue-dark-80: #8190A5;
$chatbot-color-blue-sky-100: #E5E9F2;
$chatbot-color-blue-sky-80: #F9FAFC;
$chatbot-color-black-100: #000000;
$chatbot-color-red-100: #FF0011;
$chatbot-color-purple-100: #4900FF;
$chatbot-color-link-100: #0D6FF7;
$chatbot-color-white-100: #ffffff;
$chatbot-modal-background: #000000aF;

$chatbot-border-radius: 5px;

$chatbot-desktop-h1-fontsize: 40px;
$chatbot-tablet-h1-fontsize: 40px;
$chatbot-mobile-h1-fontsize: 24px;

$chatbot-desktop-h2-fontsize: 28px;
$chatbot-tablet-h2-fontsize: 28px;
$chatbot-mobile-h2-fontsize: 22px;

$chatbot-desktop-h3-fontsize: 26px;
$chatbot-tablet-h3-fontsize: 26px;
$chatbot-mobile-h3-fontsize: 26px;


$chatbot-desktop-paragraph-major-fontsize: 18px;
$chatbot-tablet-paragraph-major-fontsize: 18px;
$chatbot-mobile-paragraph-major-fontsize: 14px;

$chatbot-desktop-paragraph-medium-fontsize: 16px;
$chatbot-tablet-paragraph-medium-fontsize: 16px;
$chatbot-mobile-paragraph-medium-fontsize: 16px;


$chatbot-desktop-paragraph-minor-fontsize: 14px;
$chatbot-tablet-paragraph-minor-fontsize: 14px;
$chatbot-mobile-paragraph-minor-fontsize: 14px;

$chatbot-desktop-input-fontsize: 18px;
$chatbot-tablet-input-fontsize: 18px;
$chatbot-mobile-input-fontsize: 14px;

$chatbot-desktop-button-fontsize: 18px;
$chatbot-tablet-button-fontsize: 18px;
$chatbot-mobile-button-fontsize: 16px;