.flex{
    display: flex;
}
.dash-title{
    margin: auto;
    text-align: center;
}
.graf{
    padding-left: 5rem;
}
h1{
    margin: auto;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: rgba(74, 88, 87, 0.856);
}
h2{
    margin: auto;
    text-align: center;
    font-size: large;
    padding-bottom: 2rem;
    color: rgba(147, 173, 170, 0.747);
}